.container {
  position: relative;
  padding: 28px 0 48px;
  min-height: calc(100vh - 200px);
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}
.container::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 48px;
  z-index: 1;
  background-image: url('../../assets/Textbook.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 540px;
  height: 407px;
  transition: 0.3s;
}
.ul__wrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.ul li {
  margin-bottom: 20px;
  width: 350px;
  height: 80px;
  font-size: 28px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.ul li span {
  margin: 0 8px 0 28px;
  width: 87px;
  height: 78px;
  font-size: 64px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.ul__difficult li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link {
  display: flex;
  align-items: center;
}
.ul li:hover {
  background-color: #FED7AA;
  transition: 0.5s;
}

@media (max-width: 1100px) {
  
  .container {
    margin: 0 auto;
    width: 735px;
  }
  .container::before {
    max-width: 340px;
    height: 207px;
    transition: 0.3s;
  }
  .ul__wrapper  {
    flex-wrap: wrap;
  }
}