.main {
 position: relative;
}
.main::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 50px;
  background-image: url('../../assets/Main.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
  max-width: 806px;
  z-index: -1;
}
.text {
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.8px;
}
.text span {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0px;
  margin-left: 12px;
}
.text__wrapper {
  max-width: 448px;
  margin-bottom: 54px;
}
.main {
  padding: 66px 0;
}
button.btn {
  width: 250px;
  height: 63px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0px;
  margin-bottom: 144px;
}