.container {
 position: relative;
 padding: 66px 0 90px;
}
.container::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 77px;
  background-image: url('../../assets/Main.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
  max-width: 806px;
  z-index: -1;
}
.text {
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.8px;
}
.text span {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0px;
  margin-left: 12px;
}
.text__wrapper {
  max-width: 448px;
  margin-bottom: 54px;
}
button.btn {
  width: 250px;
  height: 63px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0px;
  margin-bottom: 144px;
}
@media (max-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgb(247, 247, 247, 0.87);
    z-index: -1;
  }
  .text span {
    display: block;
    margin-left: 0;
  }
  button.btn {
    margin-bottom: 70px;
  }
}