.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1152px;
  margin: 0 auto;
  padding: 25px 15px;
}
.wrapper {
  display: flex;
  align-items: center;
}
.title {
  font-size: 40px;
  font-weight: 700;
  color: #C95039;
  margin-right: 44px;
}
.link {
  font-weight: 500;
  font-size: 20px;
}
.burger{
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 31px;
}
.burger span, .burger span:before, .burger span:after{
  width: 100%;
  height: 4px;
  background: #333;
  display: block;
  transition: .3s;
}
