@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1152px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}
body {
  background-color: #f7f7f7;
  font-family: 'Montserrat', sans-serif;
}
.play-btn.active {
  background-image: url(./assets/pause.png);
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}